body {
  background: #333;
}
div {
  -webkit-user-drag: none;
}
.zombie-apocalypse-screen {

  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;

  font-family: Helvetica;
  cursor: crosshair;
  border: 1px solid #aaa;
  width: 800px;
  height: 300px;
  margin: 100px auto;
  box-shadow: 0 0 10px #333;
  position: relative; background: #eee;

  &.killed {
    border: 2px solid red;
    background: red;
  }

  .zombie {
    //border: 1px solid red;
    position: absolute;
    top: 50px;
    background: rgba(0,0,0,0.02);
    background-size: 120% !important;
  }
  .weapon {
    //border: 1px solid red;
    position: absolute;
    bottom: 10px;
    left: 190px;
    background: url('../images/Weapons_V_2_by_Iskaksen.png') no-repeat;
    &.pistol {
      width: 77px;
      height: 31px;
      background-position: -654px -39px;
    }
  }
  .health {
    position: absolute;
    //border: 1px solid red;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #999;
  }
  .kill-counter {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #999;
  }
  .wave-indicator {
    position: absolute;
    top: 10px;
    left: 10px;
  }
}
