div {
  -webkit-user-drag: none;
}
.zombie-apocalypse-screen {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;
  font-family: Helvetica;
  cursor: crosshair;
  border: 1px solid #aaa;
  width: 800px;
  height: 300px;
  margin: 100px auto;
  box-shadow: 0 0 10px #333;
  position: relative;
  background: #eee;
}
.zombie-apocalypse-screen.killed {
  border: 2px solid red;
  background: red;
}
.zombie-apocalypse-screen .zombie {
  position: absolute;
  top: 50px;
  background: rgba(0, 0, 0, 0.02);
  background-size: 120% !important;
}
.zombie-apocalypse-screen .zombie.zombie-1 {
  background: url('../images/zombie1.gif') no-repeat center center;
}
.zombie-apocalypse-screen .zombie.zombie-2 {
  background: url('../images/zombie2.gif') no-repeat center center;
}
.zombie-apocalypse-screen .zombie.zombie-3 {
  background: url('../images/zombie3.gif') no-repeat center center;
}
.zombie-apocalypse-screen .weapon {
  position: absolute;
  bottom: 10px;
  left: 190px;
  background: url('../images/Weapons_V_2_by_Iskaksen.png') no-repeat;
}
.zombie-apocalypse-screen .weapon.pistol {
  width: 77px;
  height: 31px;
  background-position: -654px -39px;
}
.zombie-apocalypse-screen .weapon.machine-gun {
  width: 124px;
  height: 41px;
  background-position: -30px -51px;
}
.zombie-apocalypse-screen .health {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #999;
}
.zombie-apocalypse-screen .kill-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #999;
}
.zombie-apocalypse-screen .wave-indicator {
  position: absolute;
  top: 10px;
  left: 10px;
}
